[project]
	description = Algorithms & Data structures in C++.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vamsi P (vamsipa)
[access "refs/for/refs/*"]
	read = group user/Vamsi P (vamsipa)
	push = group user/Vamsi P (vamsipa)
	label-Code-Review = -2..+2 group user/Vamsi P (vamsipa)
	label-Verified = -1..+1 group user/Vamsi P (vamsipa)
	rebase = group user/Vamsi P (vamsipa)
	removeReviewer = group user/Vamsi P (vamsipa)
	submit = group user/Vamsi P (vamsipa)
[access "refs/heads/*"]
	read = group user/Vamsi P (vamsipa)
	create = group user/Vamsi P (vamsipa)
	push = +force group user/Vamsi P (vamsipa)
	pushMerge = group user/Vamsi P (vamsipa)
[access "refs/tags/*"]
	push = group user/Vamsi P (vamsipa)
	push = +force group user/Vamsi P (vamsipa)
